################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/*/obj
/src/*/bin
/src/Apteco.PullMarketing.Console/Properties/launchSettings.json
/test/*/obj
/test/*/bin
