################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/*/obj
/src/*/bin
/src/Apteco.PullMarketing.Console/Properties/launchSettings.json
/test/*/obj
/test/*/bin
/src/Apteco.PullMarketing.Api/Apteco.PullMarketing.Api.csproj.user
/src/Apteco.PullMarketing.Api/Properties/PublishProfiles/FolderProfile.pubxml.user
/src/Apteco.PullMarketing.Api/appsettings.*.json
/Apteco.PullMarketing.sln.DotSettings.user